@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .a-btn {
        @apply bg-slate-500
            hover:bg-slate-500/75
            text-white
            text-lg
            antialiased
            font-medium
            tracking-wide
            text-center
            xl:py-4
            xl:px-6
            flex
            justify-center
            items-center
            max-h-min
            py-1.5
            px-3
            mx-1.5
            my-auto
            shadow
            shadow-slate-900
            rounded;
    }

    .form-submit {
        @apply p-4 bg-green-700 text-white rounded-lg cursor-pointer
    }

    .form-in {
        @apply p-4 bg-black/10 text-black rounded-lg w-9/12
    }

    label:has(.form-in) {
        @apply flex items-center justify-between sm:justify-evenly w-full
    }
}
